@media ( max-width: 1200px )
    .promo
        background-size: cover
        background-position: center center
    .header
        &__logo
            width: 40%
            display: block
            margin: 0 auto
    
    